* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li {
  padding: 10px;
  margin: 5px 0;
  border-bottom: 1px solid #4caf50;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  color: #4caf50;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 45px;
  width: auto;
  margin-left: 10px;
}
.rm {
  background-color: red;
  color: black;
}
input {
  height: 50px;
  width: 400px;
  border: 0.5px solid #4caf50;
  outline: none;
  border-radius: 15px;
  margin-top: 20px;
  padding: 0 25px;
  font-size: 15px;
}
